a{
    text-decoration: none;
}
.header{
    background-color: var(--color-black1);
    display: flex;
    font: arial, sans-serif;
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid var(--color-black5);
    position: sticky;
    z-index: 1000;
    top: 0;

}
.header1{
    display: flex;
    align-items:center;
    /* border: 1px solid lightblue; */
    height: 100%;
    padding: 0rem 1rem;
    /* width: 50%; */
}
.header1 img{
    width: 2rem;
    height: 2rem;
    /* border: 1px solid lightblue; */
}
.header1 .companyname {
    /* border: 1px solid lightblue; */
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding-right: 70px; */
}



.header3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    /* min-width: 14rem; */
    padding: 0.5rem 1rem;
    /* padding: 20px; */
    /* padding-left: 700px; */
}
.headerbuttons .buttonicon i{
    /* border: 1px solid lightblue; */
    color: white;
    font-size: 1rem;
}
.headerbuttons img{
    width: 1.4rem;
    height: 1.4rem;
}
.headerbuttons{
    height: 2.4rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    cursor: pointer;
    border-radius: 0.2rem;
}
.headerbuttons:hover{
    /* border: 1px solid lightblue; */
    
    opacity: 0.8;
}
.headerbuttons p{
    font-size: 0.85rem;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    
}
.sell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px var(--color-button); 
    /* background-color: var(--color-button); */
    /* background-color: #1b73cb; */
}
.sell:hover {
    opacity: 1;
    /* background-color: #fa0456; */
    /* background-color: #1b85cb; */
}

.sell p{
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    /* margin: 0; */
    color: white;
    font-family: Arial, sans-serif;
}
/* .altheader3{
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup, .signin{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #0b0b27;
    color: white;
    border-radius: 10%;
    font-size: 20px;
}     */

.altheader3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 0.5rem 1rem;
}
.altheader3 .signup, .altheader3 .signin{
    height: 2.4rem;
    padding: 0rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-left: 1rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 5px var(--color-button); 
    border: none;
    outline: none;
    background: none;
}

.dropdown{
    margin-right: 5rem;
    width: 10rem;
    position: relative;
    z-index: 100;
    list-style: none;
    background-color: var(--color-black1);
    padding: 0;
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.2); 
    border-radius: 0.2rem;
}

.dropdown li{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.8);
    /* border: 1px solid gray; */
    padding: 0.5rem 1rem;
}
.dropdown li:hover{
    color: white;
    text-decoration: underline;
}